CONFIG_ARCH_MTK_PROJECT="lancelot"
CONFIG_CUSTOM_KERNEL_IMGSENSOR="ov13b10_ofilm_mipi_raw s5k4h7yx_ofilm_front_mipi_raw s5k4h7yx_ofilm_ultra_mipi_raw gc5035_ofilm_mipi_raw ov2180_ofilm_mipi_raw ov13b10_qtech_mipi_raw s5k4h7yx_qtech_front_mipi_raw s5k4h7yx_qtech_ultra_mipi_raw gc5035_qtech_mipi_raw ov2180_qtech_mipi_raw ov8856_qtech_front_mipi_raw ov8856_qtech_ultra_mipi_raw s5k3l6_qtech_mipi_raw"
CONFIG_CUSTOM_KERNEL_LCM="nt36672A_fhdp_dsi_vdo_tianma_j19 ft8719_fhdp_dsi_vdo_huaxing_j19 nt36672A_fhdp_dsi_vdo_dijing_j19 nt36672D_fhdp_dsi_vdo_dijing_j19"
CONFIG_MTK_LENS_DW9714AF_SUPPORT=y
CONFIG_MTK_LENS_CN3927AF_J19_SUPPORT=y
CONFIG_TOUCHSCREEN_MTK_NT36672=y
CONFIG_TOUCHSCREEN_MTK_FT8719P=y
CONFIG_SND_SOC_AW87519=y
CONFIG_TARGET_PRODUCT_LANCELOTCOMMON=y