CONFIG_ARCH_MTK_PROJECT="k69v1_64"
CONFIG_CUSTOM_KERNEL_IMGSENSOR="s5kgm1sp_mipi_raw s5kgm1sp_sunny_mipi_raw ov13b10_mipi_raw gc02m1_mipi_raw gc02m1_sunny_mipi_raw s5k4h7yx_mipi_raw s5k4h7yx_sunny_mipi_raw ov13b10_sunny_mipi_raw ov2180_mipi_raw ov2180_sunny_mipi_raw ov2680_sunny_mipi_raw gc02m1_macro_mipi_raw gc02m1_macro_sunny_mipi_raw"
CONFIG_CUSTOM_KERNEL_LCM="nt36672A_fhdp_dsi_vdo_tianma ft8719_fhdp_dsi_vdo_xinli nt36672A_fhdp_dsi_vdo_tianma_G6 nt36672D_fhdp_dsi_vdo_tianma"
CONFIG_SWTP_DRIVER=y
CONFIG_MTK_LENS_DW9800WAF_SUPPORT=y
CONFIG_MTK_LENS_CN3927AF_SUPPORT=y
CONFIG_MTK_LENS_DW9714VAF_SUPPORT=y
CONFIG_TOUCHSCREEN_FTS=y
CONFIG_TOUCHSCREEN_NT36xxx_HOSTDL_SPI=y
CONFIG_NVT_ITO_SELFTEST=y
CONFIG_TOUCHSCREEN_XIAOMI_TOUCHFEATURE=y
CONFIG_SND_SOC_CS35L41_SPI=y
CONFIG_TARGET_PRODUCT_MERLINCOMMON=y